@{
    ViewData["Title"] = "Tables";
}

<div class="row col-12 m-0 p-0 justify-content-center" style="max-height:500px; max-width:80%">
    <div id="Table">
    </div>
</div>
<div class="row col-12 m-0 p-0 justify-content-center mt-5">
    <button type="button" id="download" class="btn btn-success col-4 col-sm-3">Descargar</button>
</div>